<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5>Product Add</h5></div>
      <div class="card-body">
        <form [formGroup]="productAddForm">

            <div class="form-group">
                <input type="text" class="form-control" id="productName" formControlName="productName" placeholder="Product Name"  />
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="categoryId" formControlName="categoryId" placeholder="Category Id"  />
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="unitsInStock" formControlName="unitsInStock" placeholder="Units In Stock"  />
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="unitPrice" formControlName="unitPrice" placeholder="Unit Price"  />
            </div>
            
            
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary"  (click)="add()" >Add</button>
      </div>
    </div>
  </div>
</div>
