




<table class="table">
    <thead>
        <th>Id</th>
        <th>Product Name</th>
        <th>Category Id</th>
        <th>Unit Price</th>
        <th>Units In Stock</th>
    </thead>
    <tr *ngFor="let product of products">

        
        <td> {{product.productId}} </td>
        <td> {{product.productName}} </td>
        <td> {{product.categoryId}} </td>
        <td> {{product.unitPrice}} </td>
        <td> {{product.unitsInStock}} </td>

    </tr>
</table>


<div class="spinner-border text-primary" role="status" *ngIf="dataLoaded==false">
    <span class="visually-hidden">Loading...</span>
  </div>